:root {
    --index: calc(1vh + 1vw) ;
}
body {
    background-image: url(../images/backgraund.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.div-main {
    display: flex;
    flex-direction: row;
    
}

.div-center{
    width: 80%;
}

.div-left {
    width: 10%;
}

.div-right {
    width: 10%;
}

.Header {
    z-index: 2;
}

.Header__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.Header__logo {
    display: flex;
    width: 40%;
    height: calc(var(--index)*10);

}

.Header__logo-img {
    width: calc(var(--index)*10);
    height: calc(var(--index)*3.5);
    margin-top: calc(var(--index)*2);
    margin-left: calc(var(--index)*4);
}

.Header__naw-bar {
    display: flex;
    width: 60%;
    padding: 1em;
    padding-right: 2em;

}

.Header__naw-bar > a {
    color: white;
    font-size: var(--index);
    margin: 1em;
}

.Header__bottom {
    display: flex;
    flex-direction: row;
    
}

.Header__baner-icon {
    display: flex;
    width: 50%;
    max-height: calc(var(--index)*13);
    padding-top: calc(var(--index)*1);
    padding-left: calc(var(--index)*10);
    
}

.Header__baner-img {
    width: calc(var(--index)*15);
    height: calc(var(--index)*15);
    z-index: 2;
}

.Header__baner-text {
    display: block;
    color: #fff;
    padding: 2em;
    width: 50%;
}

.Baner__header {
    font-size: calc(var(--index)*3);
    font-style: 700px;
}

.Baner__text {
    font-size: calc(var(--index)*2);
    padding-bottom: 0.5em;
}

.Baner__botton {
    display: inline;
    color: #fff;
    background: #3571bb;
    margin-top: 5em;
    margin: 1em;
    padding: 0.3em 0.5em;
}

.Baner__botton > a {
    display: inline;
    color: #fff;
}

.Body-site {
    z-index: 1;
    color: #fff;
    background-color: #fff;
}

.arrowsleft {
    position: relative;
    left: calc(var(--index)*4);
    top: calc(var(--index)*15)
}

.arrowsright {
    position: relative;
    top: calc(var(--index)*15)
}


@media(max-width: 600px) {
    .div-center{
        width: 90%;
    }
    
    .div-left {
        width: 5%;
    }
    
    .div-right {
        width: 5%;
    }
}